
<section class='background-contact d-flex flex-column flex-fill min-vh-100'>
   <section class="hero">
        <div class="heroContent">
            <h1>Contactez-nous</h1>
            <p class='d-flex flex-wrap'>Nous sommes à votre écoute pour répondre à toutes vos questions.</p>
        </div>
      <div class="w-100 my-3">
          <a class="btn btn-primary fs-5" href='{{path('subfragment', {fragment: initialisation.fragmentButtonValue, subfragment: app.request.attributes.get('subfragment')})}}'
          >{{initialisation.buttonValue}}</a>
      </div>
  </section>
  <section class='intro d-flex flex-column justify-content-evenly bg-white flex-fill'>
    <h1 class="expert-title">Coordonnées</h1>
    <div id="experts" class="experts">
        {% set contacts = [
            { 'icon': 'fas fa-home fa-3x text-danger', 'title': 'Adresse', 'content': '<a href="https://www.google.com/maps/dir/?api=1&destination=7,+Pianellucciu,+20272,+Pianellu,+France" target="_blank">7, Pianellucciu, 20272, Pianellu, France</a>' },
            { 'icon': 'fas fa-envelope fa-3x text-danger', 'title': 'Email', 'content': '<a href="mailto:dbsecretaire@gmail.com">dbsecretaire@gmail.com</a>' },
            { 'icon': 'fas fa-phone-alt fa-3x text-danger', 'title': 'Téléphone', 'content': '<a href="tel:+33781373785">+33 7 81 37 37 85</a>' }
        ] %}
        
        {% for contact in contacts %}
            <div class="expert-item d-flex flex-column align-items-center">
                <i class="{{ contact.icon }}" style="height:60px;"></i>
                <h2>{{ contact.title }}</h2>
                <p>{{ contact.content|raw }}</p>
            </div>
        {% endfor %}
    </div>
  </section>
</section>


<!-- Localisation -->
<section class="map-section bg-white d-flex justify-content-center">
   <iframe
    width="100%"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD2ISRKbw37Hq4ViD7ahGSRNKsuPYK8msQ&q=42.28620242047804,9.36168917485784">
  </iframe>
</section>

<section class="contact-section bg-light py-5 px-0">
  <div class="container">
    <!-- Formulaire de Contact -->
    <div class="card p-4 shadow-sm">
      <h2 class="text-center mb-4">Envoyez-nous un message</h2>
      <form action="{{ path('contact_handler') }}" method="post">
        <div class="row">
          <div class="mb-3 col-md-4 px-2">
            <label for="name" class="form-label">Nom</label>
            <input type="text" id="name" name="name" class="form-control" required placeholder="Nom">
          </div>

          <div class="mb-3 col-md-4 px-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" required placeholder="Email">
          </div>

          <div class="mb-3 col-md-4 px-2">
            <label for="subject" class="form-label">Objet</label>
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Objet">
          </div>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea id="message" name="message" class="form-control" rows="5" required placeholder="Message"></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Envoyer</button>
      </form>
    </div>
  </div>
</section>

<script>
window.addEventListener('DOMContentLoaded', () => {
  const e = document.getElementById('showContactFormBtn');
      if(e){
          e.addEventListener('click', function() {
              var contactForm = document.getElementById('contactForm');
              // Toggle visibility of the contact form
              if (contactForm.style.display === 'none') {
                  contactForm.style.display = 'block';
              } else {
                  contactForm.style.display = 'none';
              }
          });
      }
})
</script>