<div class="modal fade" id="addRepertoireModal" tabindex="-1" role="dialog" aria-labelledby="repertoireModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="repertoireModalLabel">Créer un nouveau répertoire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(formRepertoire)}}
                
                <div class="col-12 d-md-flex d-sm-block flex-wrap ">
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.nom) }}
                    </div>
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.email) }}
                    </div>
                </div>

                <div class="col-12 d-md-flex d-sm-block flex-wrap ">
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.adresse) }}
                    </div>
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.codePostal) }}
                    </div>
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.ville) }}
                    </div>
                </div>

               <div class="col-12 d-md-flex d-sm-block flex-wrap ">
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.pays) }}
                    </div>
                </div>

                <div class="col-12 d-md-flex d-sm-block flex-wrap ">
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.telephone) }}
                    </div>
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.mobile) }}
                    </div>
                </div>

                <div class="col-12 d-md-flex d-sm-block flex-wrap ">
                    <div class="col-md-4 col-sm-12 px-2">
                        {{ form_row(formRepertoire.nomEntreprise) }}
                    </div>
                    <div class="col-md-4 col-sm-12  px-2">
                        {{ form_row(formRepertoire.siret) }}
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                
                {{ form_end(formRepertoire) }}
            </div>
        </div>
    </div>
</div>