{% extends 'base.html.twig' %}

{% block title %}Dashboard utilisateur{% endblock %}

{% block body %}
    <div id="userContent" class="custom-bg d-flex flex-column min-vh-100">
        {% include 'userPage/_header.html.twig' %}
        <main id="fragmentContent" class="container d-flex flex-column justify-content-start flex-grow-1 py-4">
            {% include 'partials/flash.html.twig' %}  
            <!-- Main Content -->
                {% include 'partials/user/models/devisModel.html.twig' %}
                <div class="flex-grow-1 p-4 d-flex flex-column">
                    <div class="container">
                    <!-- Informations Personnelles -->
                        <h5>Devis </h5>
                        <div class="card-body">
                        {% if devis is not empty %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Statut</th>
                                        <th>Détails</th>
                                        {# <th>Active</th> #}
                                        <th>Montant</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for devi in devis %}
                                        <tr class="d-none d-sm-table-row" id="fragmentDevis{{ devi.id }}" data-devi="{{ devi.id }}">
                                            <td>{{ devi.id }}</td>
                                            <td>{{ devi.status }}</td>
                                            <td>{{ devi.commentaire }}</td>
                                            {% if devi.lignes %}
                                                {% set totalMontant = 0 %}
                                                {% for ligne in devi.lignes %}
                                                    {% set totalMontant = totalMontant + (ligne.prixUnitaire * ligne.quantite) %}
                                                {% endfor %}
                                                    <td>{{ totalMontant | format_currency('EUR') }}</td>
                                            {% else %}
                                                <td>{{ 0 | format_currency('EUR') }}</td>
                                            {% endif %}

                                            <td> 
                                                <button type="button" class="btn text-primary text-decoration-underline" data-toggle="modal" data-target="#devisDetailsModal{{ devi.id }}">
                                                    Détails
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <!-- Aucun document -->
                            <div class="text-center">
                                <div style="position: relative; display: inline-block;">
                                    <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                                    <div style="position: absolute; 
                                            top: 0; left: 0; 
                                            right: 0; bottom: 0; 
                                            background-color: rgba(255, 255, 255, 0.7); 
                                            z-index: 1;">
                                    </div>
                                </div>
                                <h1 style="color: grey;">Aucun Devis</h1>
                                <p class="text-muted">À cet endroit, vous pourrez consulter vos devis.</p>
                            </div>
                        {% endif %}
                        
                        </div>
                    </div>
                </div>
                
                <!-- Modal pour créer le facture-->
                {% include 'partials/user/EspacePersonnel/FactureDevis/_devisModalCreate.html.twig' %}

                <!-- Modal pour afficher les informations de la facture -->
                {% include 'partials/user/EspacePersonnel/FactureDevis/_devisModalInfos.html.twig' %}

                <!-- Modal pour afficher les informations de la facture -->
                {% include 'partials/user/models/devisModel.html.twig' %}

    

            </main>

        {% include 'userPage/_footer.html.twig' %}
    </div>
{% endblock %}