<!-- Menu Items -->
{% set menuItems = [
    { icon: 'home', text: 'Accueil', link: 'link-Acceuil', color: 'white', service: 'Personnel' },
    { icon: 'file-alt', text: 'Administratif', link: 'link-Administratif', color: 'white', service: 'Administratif' },
    { icon: 'calendar-alt', text: 'Agenda', link: 'link-Agenda', color: 'white', service: 'Agenda' },
    { icon: 'briefcase', text: 'Commercial', link: 'link-Commercial', color: 'white', service: 'Commercial' },
    { icon: 'laptop-code', text: 'Numérique', link: 'link-Numerique', color: 'white', service: 'Numerique' },
    { icon: 'phone-alt', text: 'Téléphone', link: 'link-Telephone', color: 'white', service: 'Telephonique' },
    { icon: 'folder', text: 'Répertoire', link: 'link-Repertoire', color: 'white', service:'Repertoire' },
] %}

    <!-- menus -->

    <div class='d-none d-md-flex flex-wrap justify-content-center'>
        {% for item in menuItems %}
                <div class="header-menu nav-item d-flex flex-column justify-content-center align-items-center p-1 " style="position: relative; width: 130px;">
                    <button 
                        data-fragment={{item.link}} 
                        data-service={{item.service}} 
                        class="change-fragment nav-link text-{{ item.color }}" 
                        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; border: none; z-index: 1; padding: 0;">
                    </button>    
                    <h6 class="text-white" style="margin: 5px 0;">{{ item.text }}</h6>
                </div>
        {% endfor %}
    </div>
    <div class='d-block d-md-none'>
        {% for item in menuItems %}
                <div class="nav-item d-flex flex-column align-items-center p-1" style="position: relative; width: 130px;">
                    <button data-fragment={{item.link}} data-service={{item.service}} class="change-fragment nav-link text-{{ item.color }}" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; border: none; z-index: 1; padding: 0;">
                    </button>    
                    <h6 class="text-white">{{ item.text }}</h6>
                </div>
        {% endfor %}
    </div>


{# <li class="nav-item">
    <button type='button' id="espacePersonnel" data-fragment='link-espacepersonnel' class="change-fragment nav-link text-white bg-transparent">
        <img src="{{ asset('build/images/avatar.png') }}" alt="hugenerd" width="50" height="50" class="rounded-circle">
    </button> #}
    {# <button aria-expanded="false" data-bs-toggle="collapse" href="#submenu3" class="menu-toggle nav-link text-white">Espace personnel</button> #}
    {# <ul id="submenu3" class="collapse navbar-collapse">
        {% set submenuItems = [
            { link: 'link-Profile', icon: 'fa-user-circle', label: 'Profil', color: 'white' },
            { link: 'link-Factures', icon: 'fa-file-invoice', label: 'Factures', color: 'white' },
            { link: 'link-Devis', icon: 'fa-file-contract', label: 'Devis', color: 'white' },
            { link: 'link-parametres', icon: 'fa-cogs', label: 'Paramètres', color: 'white' }
        ] %}
        {% for submenu in submenuItems %}
            {% if submenu.service is not defined or submenu.service in services %}
                <li class="nav-item">
                    <button data-fragment={{submenu.link}} class="change-fragment nav-link text-{{ submenu.color }}">{{ submenu.label }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul> #}
{# </li> #}

{# <hr>
        <div class="d-flex justify-content-center mx-md-auto">
            <a href="#" class="d-flex align-items-center text-decoration-none" id="dropdownUser1">
                <img src="{{ asset('build/images/avatar.png') }}" alt="hugenerd" width="30" height="30" class="rounded-circle">
            </a>
            <ul class="list-unstyled ms-3 my-auto">
                <li><span class="d-flex flex-wrap text-black text-break d-none d-sm-inline">{{ app.user.email }}</span></li>
                <li><a class="deconnexion d-none d-sm-inline" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
        <hr> #}