<!-- Main Content -->
<div class="row g-4">
    
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class='m-3'>Bienvenue {{app.user.nom}} !</h3>
                <p class='m-3'>Dans cette interface, vous pourrez naviguer entre les différents services proposés</p>
                <p class='m-3'>Vous accèderez également à vos informations personnelles ici: </p>
   
                <h3 class='mt-5'>Espace Personnel</h3>
                <div class='d-flex flex-wrap justify-content-center'> 
                    {% set submenuItems = [
                        { href: 'link-Profile', icon: 'fa-user-circle', title: 'Profil', color: 'white' },
                        { href: 'link-Factures', icon: 'fa-file-invoice', title: 'Factures', color: 'white' },
                        { href: 'link-Devis', icon: 'fa-file-contract', title: 'Devis', color: 'white' },
                        { href: 'link-parametres', icon: 'fa-cogs', title: 'Paramètres', color: 'white' }
                    ] %}
                    {% for submenu in submenuItems %}
                        {% if submenu.service is not defined or submenu.service in services %}
                        <div class="d-flex flex-column align-items-center p-1" style="position: relative; width: 130px;">
                            <button type='button' data-fragment="{{ submenu.href }}" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; border: none; z-index: 1; padding: 0;" class="change-fragment mb-4 btn card-link d-flex flex-column justify-content-start align-items-center text-center p-3">
                            </button>
                            <i class="fas {{ submenu.icon }} fa-3x text-success mb-2"></i>
                            <p class="text-dark">{{ submenu.title }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
 <!-- Card 1 -->   
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="m-3">Accès rapide</h2>
                <div class='d-flex flex-wrap justify-content-center gap-2'>   
                    {% set items = [
                        { id: 'btnEspacePersonnel', href: 'link-espacepersonnel', icon: 'fa-user-circle', title: 'Espace Personnel', description:'Gérez votre espace personnel' },
                        { id: 'btnAgenda', href: 'link-Agenda', icon: 'fa-calendar-alt', title: 'Agenda', service: 'Agenda', description:'Gérez votre agenda'  },
                        { id: 'btnTelephone', href: 'link-Telephone', icon: 'fa-phone-alt', title: 'Gestion Téléphonique', service: 'Telephonique', description:'Gérez vos appels téléphoniques'  },
                        { id: 'btnAdministratif', href: 'link-Administratif', icon: 'fa-file-alt', title: 'Documents Administratifs', service: 'Administratif', description:'Gérez votre service administratif'  },
                        { id: 'btnCommercial', href: 'link-Commercial', icon: 'fa-briefcase', title: 'Documents commerciaux', service: 'Commercial', description:'Gérez vos documents commerciaux'  },
                        { id: 'btnNumerique', href: 'link-Numerique', icon: 'fa-laptop-code', title: 'Documents numériques', service: 'Numerique', description:'Gérez vos documents numériques'  }
                    ] %}
                    {% for item in items %}
                        {% if item.service is not defined or item.service in services %}
                            <div class="d-flex flex-column align-items-center p-4 text-center" style="position: relative; max-width:200px;">
                                <button type='button' id="{{ item.id }}" data-fragment="{{ item.href }}" data-user="{{ app.user.email }}" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; border: none; z-index: 1; padding: 0;" class="change-fragment border mb-4 btn card-link d-flex flex-column justify-content-between align-items-center text-center p-3">
                                </button>
                                <i class="fas {{ item.icon }} fa-3x text-secondary mb-2"></i>
                                <h5 class="text-dark">{{ item.title }}</h5>
                                <p class="text-muted small">{{ item.description }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- Card 2 -->
    {# <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="m-3">Actualités</h2>
            
                <div class='d-flex flex-wrap justify-content-center'>
                    {% set actualite = [
                        { id: 'news1', href: '/actualites/article1', icon: 'fa-newspaper', title: 'Nouvelle fonctionnalité ajoutée',
                        description: 'Découvrez notre dernière mise à jour qui améliore l’expérience utilisateur.'},
                        { id: 'news2', href: '/actualites/article2', icon: 'fa-chart-line', title: 'Croissance de l’entreprise',
                        description: 'Un rapport montre une augmentation de 20% dans les ventes cette année.'},
                        { id: 'news3', href: '/actualites/article3', icon: 'fa-handshake', title: 'Nouveau partenariat signé',
                        description: 'Nous sommes fiers d’annoncer un partenariat stratégique avec XYZ Corp.'},
                    ] %}
                    {% for item in actualite %}
                        <a id="{{ item.id }}" href="{{ item.href }}" style="max-width:200px;" class="mb-4 btn card-link d-flex flex-column justify-content-start align-items-center text-center p-3">
                            <i class="fas {{ item.icon }} fa-3x text-success mb-2"></i>
                            <h5 class="text-dark">{{ item.title }}</h5>
                            <p class="text-muted small">{{ item.description }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> #}

<!-- Card 3 -->
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="m-3">Accès direct</h5>
                <div class='d-flex flex-wrap justify-content-center'>
                    {% set access_items = [
                        {href: 'home_index', icon: 'fa-tag', id: 'Nos offres', text: 'Nos offres', description:"Plus d'informations"},
                        {href: 'home_index', icon: 'fa-question-circle', id: "J'ai une question", text: "J'ai une question", description:"Contactez-nous ici"},
                        {href: 'home_index', icon: 'fa-user-shield', id: 'Données personnelles', text: 'Données personnelles', description:"Comment mes données personnelles sont-elles gérées?"},
                        {href: 'home_index', icon: 'fa-handshake', id: 'Offres partenaires', text: 'Offres partenaires', description:"Découvrez les offres de nos partenaires"},
                    ] %}
                    {% for item in access_items %}
                        <button type='button' id="{{ item.id }}" data-fragment="{{ item.href }}" data-user="{{ app.user.email }}" style="max-width:200px;" class="change-fragment border mb-4 btn card-link d-flex flex-column justify-content-between align-items-center text-center p-3">
                            <i class="fas {{ item.icon }} fa-3x text-dark mb-2"></i>
                            <h5 class="text-dark">{{ item.text }}</h5>
                            <p class="text-muted small">{{ item.description }}</p>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
