{% if formViews.addSearchData %}
    {{ form_start(formViews.addSearchData, {'attr': {'id': 'searchFormFacture'}}) }}
        <tr class="d-none d-sm-table-row" id="fragmentFacture" data-fragment="{{ fragment }}" {% if facture is defined %}data-facture="{{ facture.id }}"{% endif %} {% if devis is defined %}data-devis="{{ devis.id }}"{% endif %}>
            <td>{{ form_widget(formViews.addSearchData.q, {'value': facture is defined ? facture.id : devis.id, 'attr': {'class': 'bg-transparent border-0'}}) }}</td>
            <td>{% if facture is defined %}{{facture.status}}{% else %}{{devis.status}}{% endif %}</td>
            <td>{% if facture is defined %}{{facture.commentaire}}{% else %}{{devis.commentaire}}{% endif %}</td>
            {# <td>{{ facture.is_active }}</td> #}
            <td>{% if facture is defined %}{{facture.montant | format_currency('EUR')}}{% else %}{{devis.montant | format_currency('EUR')}}{% endif %}</td>
            <td> 
                <button type="submit" class="btn text-primary text-decoration-underline">
                    Détails
                </button>
            </td>
        </tr>
    {{ form_end(formViews.addSearchData) }} 
{% endif %}