<div class="modal fade" id="dossierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer un nouveau Dossier</h5>
      </div>
      <div class="modal-body">
        {# <form id="modalFormContainerbis" action="/api/dossiers/" ~ serviceLink method="POST" data-service={{ serviceLink }}> #}
          {{ form_start(formDossier) }}
          <div class="form-group">
            {{ form_row(formDossier.name) }}
          </div>
          {# {{ form_widget(addDossier.submit, {'attr': {'class': 'btn btn-primary'}}) }} #}
          <div class='d-flex justify-content-center gap-3'>
            <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary mb-3" >Enregistrer</button>
          </div>
          {{ form_end(formDossier) }}
        
      </div> 
    </div>
  </div>
</div>

