{% extends 'base.html.twig' %}

{% block title %}Dashboard utilisateur{% endblock %}

{% block body %}
    <div id="userContent" class="custom-bg d-flex flex-column min-vh-100">
        {% include 'userPage/_header.html.twig' %}
        <main id="fragmentContent" class="container d-flex flex-column justify-content-start flex-grow-1 py-4">
            {% include 'partials/flash.html.twig' %}
                {{ form_start(formDocument, {'attr': {'class': 'm-0'}}) }}
                <div class='col-12'>
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h4>{{ document.dossier.name }} - {{ document.name }}</h4>
                        </div>
                        <div class="card-body">
                            {{form_row(formDocument.id, {'value' : document.id})}}
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Date</th>
                                        <td class='col-9 parent'>{{ form_row(formDocument.date_document) }}</td>
                                    </tr>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Nom</th>
                                        <td class='col-3 parent'>{{ form_row(formDocument.name) }}</td>
                                    </tr>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Expéditeur</th>
                                        <td class='col-3 parent'>{{ form_row(formDocument.expediteur) }}</td>
                                    </tr>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Destinataire</th>
                                        <td class='col-3 parent'>{{ form_row(formDocument.destinataire) }}</td>
                                    </tr>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Dossier</th>
                                        <td class='col-3 parent'>{{ form_row(formDocument.dossier) }}</td>
                                    </tr>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Type</th>
                                        <td class='col-3 parent'>{{ form_row(formDocument.typeDocument) }}</td>
                                    </tr>
                                    <tr>
                                        <th class='col-3' style='vertical-align: middle;'>Détails</th>
                                        <td class='col-3 parent'>{{ form_row(formDocument.details) }}</td>
                                    </tr>
                                </tbody>    
                            </table>
                        </div>
                        <div class="card-header mx-0">
                            <h4>Images</h4>
                        </div>
                        <div class='card-body'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-4">Nom</th>
                                        <th class="col-4">Description</th>
                                        <th class="col-4">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# {% for imageField in formDocument.images %}
                                        <tr>
                                            <td class="col-4">
                                                <div class="d-flex">{{ form_widget(imageField.slug) }}</div>
                                            </td>
                                            <td class="col-4">
                                                <div class="d-flex">{{ form_widget(imageField.imageDescription) }}</div>
                                            </td>
                                            <td class="col-4">
                                                <div class="d-flex">{{ form_rest(imageField) }}</div>
                                            </td>
                                        </tr>
                                    {% endfor %} #}
                                </tbody>
                            </table>
                            {{ form_row(formDocument.images) }}
                        </div>
                        {# NE PAS SUPPRIMER POUR MODAL !!! #}
                        {% set count = -1 %}{% for image in document.images %}{% set count = count + 1 %}<span id="{{ count }}" data-image-id="{{ image.id }}"></span>{% endfor %}
                        <div class='d-flex justify-content-center'>
                            {{ form_row(formDocument.submit, {'attr' : {'data-action' : "click->image-collection#handleButtonClick"}}) }} 
                        </div>
                    </div>
                </div>
                {{ form_end(formDocument) }}
                {% set imageId = "" %}
                {% set slug = "" %}
                {% set description = "" %}
                {% set imageDocument = "" %}
                {% set imageName = "" %}
                {% set imageSize = "" %}
                {% for image in document.images %}
                    {% set imageId = image.id %}
                    {% set slug = image.slug %}
                    {% set description = image.imageDescription %}
                    {% set imageDocument = image.document %}
                    {% set imageName = image.imageName %}
                    {% set imageSize = image.imageSize %}
                {% endfor %}

                <div class="modal fade" id="editImage{{ imageId }}" tabindex="-1" aria-labelledby="editImageLabel{{ imageId }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editImageLabel{{ imageId }}">{{ imageDocument }} - {{ slug }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{form_start(formEditImage)}}
                                {{form_row(formEditImage.id, {'value':imageId})}}
                                {{form_row(formEditImage.slug, {'value' : slug})}}
                                {{form_row(formEditImage.imageDescription, {'value' : description})}}
                                {{form_row(formEditImage.imageFile)}}
                                {{form_row(formEditImage.document, {'value' : document.id})}}
                                <p>Informations</p>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="col-3">Nom</td>
                                            <td class="col-9">{{ imageName }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-3">Taille</td>
                                            <td class="col-9">
                                                {% if imageSize is empty %}
                                                    -
                                                {% elseif imageSize > 1048576 %}
                                                    {{ (imageSize / 1048576)|number_format(2, '.', ',') }} MB
                                                {% elseif imageSize > 1024 %}
                                                    {{ (imageSize / 1024)|number_format(2, '.', ',') }} KB
                                                {% else %}
                                                    {{ imageSize }} Bytes
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-3">Téléchargement</td>
                                            {% if imageName %}
                                                <td class="col-9"><a href="{{ path('image_download', {'id': imageId}) }}">
                                                    <i class="fas fa-download fa-2x text-success"></i>
                                                </a></td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table> 

                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                {{form_end(formEditImage)}}
                            </div>
                        </div>
                    </div>
                </div>


                {% block stylesheets %}
                    <style>
                        .parent > div {
                            margin: 0rem !important;
                        }
                    </style>
                {% endblock %}
            </main>

        {% include 'userPage/_footer.html.twig' %}
    </div>
{% endblock %}

