{% extends 'base.html.twig' %}

{% block title %}Dashboard utilisateur{% endblock %}

{% block body %}
    <div id="userContent" class="custom-bg d-flex flex-column min-vh-100">
        {% include 'userPage/_header.html.twig' %}
        <main id="fragmentContent" class="container d-flex flex-column justify-content-start flex-grow-1 py-4">
            {% include 'partials/flash.html.twig' %}
            
                {% if document.typeDocument == "Courrier" %}
                    {% include "partials/user/_documentEditCourrier.html.twig" %}
                {% elseif document.typeDocument == "Email" %}
                    {% include "partials/user/_documentEditMail.html.twig" %}
                {% elseif document.typeDocument == "Rapport" %}
                    {% include "partials/user/_documentEditRapport.html.twig" %}
                {% elseif document.typeDocument == "Pièce comptable" %}
                    {% include "partials/user/_documentEditComptable.html.twig" %}
                {% elseif document.typeDocument == "Appel" %}
                    {% include "partials/user/_documentEditAppel.html.twig" %}
                {% endif %}

                {% set imageId = "" %}
                {% set slug = "" %}
                {% set description = "" %}
                {% set imageDocument = "" %}
                {% set imageName = "" %}
                {% set imageSize = "" %}
                {% for image in document.images %}
                    {% set imageId = image.id %}
                    {% set slug = image.slug %}
                    {% set description = image.imageDescription %}
                    {% set imageDocument = image.document %}
                    {% set imageName = image.imageName %}
                    {% set imageSize = image.imageSize %}
                {% endfor %}

                <div class="modal fade" id="editImage{{ imageId }}" tabindex="-1" aria-labelledby="editImageLabel{{ imageId }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editImageLabel{{ imageId }}">{{ imageDocument }} - {{ slug }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{form_start(formEditImage)}}
                                {{form_row(formEditImage.id, {'value':imageId})}}
                                {{form_row(formEditImage.slug, {'value' : slug})}}
                                {{form_row(formEditImage.imageDescription, {'value' : description})}}
                                {{form_row(formEditImage.imageFile)}}
                                {{form_row(formEditImage.document, {'value' : document.id})}}
                                <p>Informations</p>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="col-3">Nom</td>
                                            <td class="col-9">{{ imageName }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-3">Taille</td>
                                            <td class="col-9">
                                                {% if imageSize is empty %}
                                                    -
                                                {% elseif imageSize > 1048576 %}
                                                    {{ (imageSize / 1048576)|number_format(2, '.', ',') }} MB
                                                {% elseif imageSize > 1024 %}
                                                    {{ (imageSize / 1024)|number_format(2, '.', ',') }} KB
                                                {% else %}
                                                    {{ imageSize }} Bytes
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-3">Téléchargement</td>
                                            {% if imageName %}
                                                <td class="col-9"><a href="{{ path('image_download', {'id': imageId}) }}">
                                                    <i class="fas fa-download fa-2x text-success"></i>
                                                </a></td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table> 

                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                {{form_end(formEditImage)}}
                            </div>
                        </div>
                    </div>
                </div>


                {% block stylesheets %}
                    <style>
                        .parent > div {
                            margin: 0rem !important;
                        }
                    </style>
                {% endblock %}
            </main>

        {% include 'userPage/_footer.html.twig' %}
    </div>
{% endblock %}

