{{ form_start(formDocument, {'attr': {'class': 'm-0'}}) }}
<div class='col-12'>
    <div class="card shadow-sm">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="p-0">
                <a href='{{path('dossiers', {'service': service }) }}'>{{ service }}</a> - 
                <a href='{{path('dossier', {'service': service, 'dossierId': document.dossier.id})}}'>{{ document.dossier.name }}</a> - 
                <a href='{{path('document', {'service': service, 'dossierId': document.dossier.id, 'documentId' : document.id})}}'>{{ document.name }}</a> 
            </h5>
            <div class="d-flex gap-3">
                {{ form_row(formDocument.submit, {'attr' : {'data-action' : "click->image-collection#handleButtonClick"}}) }} 
                <a type="button" href="{{ path('document_download', {'id': app.request.attributes.get('documentId') }) }}" class="btn btn-primary d-flex align-items-center mb-3">
                    <span class="d-none d-md-inline">Télécharger</span>
                    <i class="fas fa-download d-inline d-md-none"></i>
                </a>            
            </div>
        </div>
        <div class="card-body">
            <table class="mb-1 table table-bordered">
                <tbody>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Nom du document</th>
                        <th class='col-3' style='vertical-align: middle;'>Dossier</th>
                        <th class='col-3' style='vertical-align: middle;'>Type</th>
                    </tr>
                    <tr>
                        <td class='col-3 parent'>{{ form_row(formDocument.name) }}</td>
                        <td class='col-3 parent'>{{ form_row(formDocument.dossier) }}</td>
                        <td class='col-3 parent'>{{ form_row(formDocument.typeDocument) }}</td>
                    </tr>
                </tbody>    
            </table>
            
            {{form_row(formDocument.id, {'value' : document.id})}}
            {{ form_row(formDocument.expediteur, {'attr': {'value' : user.nom, 'class': 'd-none'}}) }}
            {{ form_widget(formDocument.destinataire, {'attr': {'class': 'd-none'}}) }}
            {{ form_widget(formDocument.objet, { 'attr' : {'class': 'd-none'} }) }}

            <div class="row align-items-center">
                {# Date #}
                <div class="d-flex mb-3 px-4 justify-content-center col-4">
                    <div>Date : {{ form_widget(formDocument.date_document, { 'attr' : {'class': 'd-inline-block w-auto'} }) }}</div>
                </div>

                {# Contenu #}
                <div class="d-flex px-4 col-8">
                    <div class='col-12'>{{ form_row(formDocument.details, {'attr' : {'placeholder': 'Commentaires...', 'style' : 'min-height: 50px !important;'}}) }}</div>
                </div>
            </div>            
        </div>
        <div class="card-header mx-0">
            <h4>Appels</h4>
        </div>
        <div class='card-body'>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:16%;">Numéro</th>
                        <th style="width:17%;">Nom</th>
                        <th style="width:33%;">Objet</th>
                        <th style="width:16%;">A faire</th>
                        <th style="width:18%;">Actions</th>
                    </tr>
                </thead>
            </table>
            {{ form_row(formDocument.images) }}
        </div>
        {# NE PAS SUPPRIMER POUR MODAL !!! #}
        {% set count = -1 %}{% for image in document.images %}{% set count = count + 1 %}<span id="{{ count }}" data-image-id="{{ image.id }}"></span>{% endfor %}
        
    </div>
</div>
{{ form_end(formDocument) }}