{{ form_start(formViews.addDocument, {'attr': {'class': 'm-0'}}) }}
<div class='col-12'>
    <div class="card shadow-sm">
        <div class="card-header">
            <h4>{{ document.dossier.name }} - {{ document.name }}</h4>
        </div>
        <div class="card-body">
            {{form_row(formViews.addDocument.id, {'value' : document.id})}}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Date</th>
                        <td class='col-9 parent'>{{ form_row(formViews.addDocument.date_document) }}</td>
                    </tr>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Nom</th>
                        <td class='col-3 parent'>{{ form_row(formViews.addDocument.name) }}</td>
                    </tr>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Expéditeur</th>
                        <td class='col-3 parent'>{{ form_row(formViews.addDocument.expediteur) }}</td>
                    </tr>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Destinataire</th>
                        <td class='col-3 parent'>{{ form_row(formViews.addDocument.destinataire) }}</td>
                    </tr>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Dossier</th>
                        <td class='col-3 parent'>{{ form_row(formViews.addDocument.dossier) }}</td>
                    </tr>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Type</th>
                        <td class='col-3 parent'>{{ form_row(formViews.addDocument.typeDocument) }}</td>
                    </tr>
                    <tr>
                        <th class='col-3' style='vertical-align: middle;'>Détails</th>
                        <td class='col-3 parent'>{{ form_row(formViews.addDocument.details) }}</td>
                    </tr>
                </tbody>    
            </table>
        </div>
        <div class="card-header mx-0">
            <h4>Images</h4>
        </div>
        <div class='card-body'>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-4">Nom</th>
                        <th class="col-4">Description</th>
                        <th class="col-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {# {% for imageField in formViews.addDocument.images %}
                        <tr>
                            <td class="col-4">
                                <div class="d-flex">{{ form_widget(imageField.slug) }}</div>
                            </td>
                            <td class="col-4">
                                <div class="d-flex">{{ form_widget(imageField.imageDescription) }}</div>
                            </td>
                            <td class="col-4">
                                <div class="d-flex">{{ form_rest(imageField) }}</div>
                            </td>
                        </tr>
                    {% endfor %} #}
                </tbody>
            </table>
            {{ form_row(formViews.addDocument.images) }}
        </div>
        {# NE PAS SUPPRIMER POUR MODAL !!! #}
        {% set count = -1 %}{% for image in document.images %}{% set count = count + 1 %}<span id="{{ count }}" data-image-id="{{ image.id }}"></span>{% endfor %}
        <div class='d-flex justify-content-center'>
            {{ form_row(formViews.addDocument.submit, {'attr' : {'data-action' : "click->image-collection#handleButtonClick"}}) }} 
        </div>
    </div>
</div>
{{ form_end(formViews.addDocument) }}

{% for image in document.images %}
<div class="modal fade" id="editImage{{ image.id }}" tabindex="-1" aria-labelledby="editImageLabel{{ image.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editImageLabel{{ image.id }}">{{ image.document }} - {{ image.slug }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/{{ image.id }}/update_image/{{ document.id }}" method="POST" data-service={{ serviceLink }}>
            <input type="hidden" name="image_id" value="{{ image.id }}">
            <div class="mb-3">
                <label for="slug" class="form-label">Slug</label>
                <input type="text" class="form-control" id="slug" name="slug" value="{{ image.slug }}">
            </div>
            <div class="mb-3">
                <label for="imageDescription" class="form-label">Description</label>
                <textarea class="form-control" id="imageDescription" name="imageDescription">{{ image.imageDescription }}</textarea>
            </div>
            <div class="mb-3">
                <label for="imageFile" class="form-label">Image File</label>
                <input class="form-control" type="file" id="imageFile" name="imageFile">
            </div>
            <p>Informations</p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="col-3">Nom</td>
                        <td class="col-9">{{ image.imageName }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Taille</td>
                        <td class="col-9">
                            {% if image.imageSize is empty %}
                                -
                            {% elseif image.imageSize > 1048576 %}
                                {{ (image.imageSize / 1048576)|number_format(2, '.', ',') }} MB
                            {% elseif image.imageSize > 1024 %}
                                {{ (image.imageSize / 1024)|number_format(2, '.', ',') }} KB
                            {% else %}
                                {{ image.imageSize }} Bytes
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-3">Téléchargement</td>
                        {% if image.imageName %}
                            <td class="col-9"><a href="{{ asset('uploads/documents/' ~ image.imageName ) }}" download>
                                <i class="fas fa-download fa-2x text-success"></i>
                            </a></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>      
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-danger">Supprimer</button>
        <div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% block stylesheets %}
    <style>
        .parent > div {
            margin: 0rem !important;
        }
    </style>
{% endblock %}
